// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {

  padding-top: 70px;

}

.nav-gravatar {

  float: left;
  position: relative;
  top: -6px;
  left: -8px;
  border: 1px solid #555;

}
